html,
body {
  height: auto;

  margin: 0;
}

body {
  background-image: url("Back.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar-container {
  padding: 16px;
}

.navbar-brand {
  color: rgb(235, 20, 20);
}
.card-img-top {
  height: 250px;
  width: 100%;
}
.hero {
  margin-top: 80px;
  margin-bottom: 120px;

  display: flex;
}
.about-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 180px;
}

.about-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
 
}
.btn {
  height: 50px;
  width: 250px;
}

.navbar-nav{
  display: flex;
  gap: 50px;
}
.newsletter input{
  width: 500px;
  margin-left: 30px;
  border: none;
  outline: none;
  color: #616161;
  
  font-size: 16px;

  
}
.newsletter div button{
  width: 210px;
  height: 70px;
  border-radius:80px;
  background: rgb(10, 125, 201);
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.newsletter div{
  display: flex;
  justify-content: center;
  align-items: center;
  
  background: white;
  width: 730px;
  height:70px;
  border-radius: 60px;
  border: 2px solid #a69494;


}
.innovo-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

}


.innovo-right{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 180px;
  margin-right: 50px;
}
  
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 18rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}

.card:hover {
  transform: translateY(-12px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #d62323;
  color: rgb(33, 15, 201);
}

.card-body {
  background-color: #fff; /* Ensure background color for card body */
  padding: 20px;
}

.card-title {
  font-weight: 800;
  font-size: 22px;
}

.card-text {
  font-size: 16px;
}



.main{
  position: relative;
}
#left{
  position: absolute;
  left: 260px;
  color: rgba(180, 191, 237, 0.364);  }

  #right{
  position: absolute;
  right: 260px;
  color: rgba(180, 191, 237, 0.364);
}
#left:hover{
  color: black;
  
}
#right:hover{
  color: black
}
.content1{



  /* background-color: royalblue; */
  color: red;
}